<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notificator.notificator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name=".activity.MainActivity"
            android:label="Notificator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.CadastroContatoActivity" android:label="Contato">
        </activity>

        <activity android:name=".activity.ConfiguracaoContaActivity" android:label="Minha Conta">
        </activity>
        
        <activity android:name=".activity.CadastroNotificacaoActivity" android:label="Notificação">
        </activity>

        <activity android:name=".activity.ListaNotificacaoActivity" android:label="Lista de Notificações">
        </activity>
        <activity android:name=".activity.ListaContatoActivity" android:label="Lista de Contatos">
        </activity>
    </application>

</manifest>
